<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="css/home_v12.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<script type="text/javascript" src="js/script.js"></script>
</head>
<body>

<div class="tab">
  <button class="tablinks" onclick="openTab(event, 'Aktualis')">Aktuális időjárás</button>
  <button class="tablinks" onclick="openTab(event, 'Elorejelzes')">Előrejelzés</button>
  <button class="tablinks" onclick="openTab(event, 'Projektrol')">Projektről</button>
</div>




<div id="Aktualis" class="tabcontent">
  <h3>Aktuális időjárás</h3>

  <p>Ide jönne a widget</p>

</div>

<div id="Elorejelzes" class="tabcontent">
	<p>
    <script src="scriptelorejelzes.js" defer></script>
  </head>
  <body>

    <h1>Időjárás előrejelzés</h1>

    <div class="container">
      <div class="weather-input">
        <h3>Enter a City Name</h3>
        <input class="city-input" type="text" placeholder="E.g., New York, London, Tokyo">
        <button class="search-btn">Search</button>
        <div class="separator"></div>
        <button class="location-btn">Use Current Location</button>
      </div>
      <div class="weather-data">
        <div class="current-weather">
          <div class="details">
            <h2>_______ ( ______ )</h2>
            <h6>Temperature: __°C</h6>
            <h6>Wind: __ M/S</h6>
            <h6>Humidity: __%</h6>
          </div>
        </div>
        <div class="days-forecast">
          <h2>5-Day Forecast</h2>
          <ul class="weather-cards">
            <li class="card">
              <h3>( ______ )</h3>
              <h6>Temp: __C</h6>
              <h6>Wind: __ M/S</h6>
              <h6>Humidity: __%</h6>
            </li>
            <li class="card">
              <h3>( ______ )</h3>
              <h6>Temp: __C</h6>
              <h6>Wind: __ M/S</h6>
              <h6>Humidity: __%</h6>
            </li>
            <li class="card">
              <h3>( ______ )</h3>
              <h6>Temp: __C</h6>
              <h6>Wind: __ M/S</h6>
              <h6>Humidity: __%</h6>
            </li>
            <li class="card">
              <h3>( ______ )</h3>
              <h6>Temp: __C</h6>
              <h6>Wind: __ M/S</h6>
              <h6>Humidity: __%</h6>
            </li>
            <li class="card">
              <h3>( ______ )</h3>
              <h6>Temp: __C</h6>
              <h6>Wind: __ M/S</h6>
              <h6>Humidity: __%</h6>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <a href=https://www.codingnepalweb.com/weather-app-project-html-javascript/>by CodingNepal</a>
  </body>
	</p> 
</div>

<div id="Projektrol" class="tabcontent">
  <h3>Projektről röviden</h3>
  <p> A projekt azzal a célkitüzéssel jött létre, hogy a Kármán Tódor Kollégiumban lakók a helyi aktuális időjárásról kapjanak információt és ennek ismeretében tudjanak tervezni.
Ezért is a projekt keretein belül készült egy időjárásállomás, amely az aktuális hőmérsékletet, páratartalmat, szélirányt és szélerősséget képes mérni és megjeleníteni. 
	</p>
	<p>
<img 
src="images/idojarasallomas2.jpeg"
width=50%
height=50%
alt="Időjárásállomás képe">
	</p>
	<h4>Hardver elkészítése</h4>
	<h5>Design</h5>
	<p> A design és mechanikai elemek teljes mértékben a <a href=https://nerdiy.de/de_de/howto-anemosens-ein-3d-gedruckten-windsensor-anemometer-aufbauen/>nerdiy</a> leírása alapján keszültek 3D nyomtatással ASA nyomtatószálból, hogy az időjárásnak is ellenálljon hosszútávon. 
	</p>
	<p>
<img 
src="images/idojarasallomasdarabokban.jpeg"
width=50%
height=50%
alt="Időjárásállomás darabokban">
	</p>
	<h5>Elektronika<h5>
	<p> Az elektronika elkészítésének alapjául is <a href=https://nerdiy.de/de_de/howto-anemosens-ein-3d-gedruckten-windsensor-anemometer-aufbauen/>nerdiy</a> leírása szolgált, de ebben az esetben az elektronika áttervezésre és optimalizálásra került.
		</p>
		<p>
<img 
src="images/elektronika2d.png"
width=50%
height=50%
alt="Elektronika terve">
	</p>
	<p>
<img 
src="images/elektronika3d.png"
width=50%
height=50%
alt="Elektronika terve">
	</p>
</div>

<footer class="footer">
	<p>Copyright &copy; 2023</p>		
</footer>
</body>